.header-name__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
}

.header-name__title {
  font-size: 30px;
  font-weight: 600;
}

.header-name__div i {
  margin-left: 20px;
}

.header-name__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.header-name__subtitle i:first-child {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.2);
}

.header-name__subtitle i:last-child {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.2);
}

.main-contnet {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.main-contnet__user {
  display: flex;
  justify-content: row;
  align-items: center;
  margin-bottom: 20px;
}

.main-contnet__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: var(--borderline);
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.main-contnet__user img {
  height: 80px;
  width: 80px;
  border-radius: 30px;
}

.main-contnet__name {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
}

.main-contnet__chanel {
  display: flex;
  justify-content: row;
  align-items: center;
}
.main-contnet__chanel-Name {
  margin-left: 20px;
  font-size: 24px;
}

.main-contnet__chanel img {
  height: 60px;
  width: 60px;
  border-radius: 20px;
}

.main-contnet__chanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
