.main__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.main__navigation {
  display: flex;
  height: 30px;
  border: 2px solid rgb(185, 160, 18);
}

.main__nav {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
  color: goldenrod;
}
